@(query: Query, answer: Answer, index: Int, maxSentenceCount: Int, debug: Boolean)

@import models.TypeFilters._
@import models.NellType.fbToNellType

<div class="close-tab"><a href="#close@{index}" class="close-tab" title="close sentences"><i class="glyphicon glyphicon-remove"></i></a></div>

@titleLink(part: models.AnswerPart, large: Boolean) = {
	@if(part.comesFromRel) {
		@part.text
	} else {
		<a href='@routes.Application.search("("+part.text+",?,?)", "formal","all",0,debug)' class="@if(large) {entity-link-focused} else {entity-link}">@part.text</a>
	}
}


@move(curPartIndex: Int, nextPartIndex: Int, forward: Boolean) = {
	<a href="#@if(forward) { forward } else { back }" onclick="$('#L@index>#E@curPartIndex').hide(); $('#L@index>#E@nextPartIndex').show();"><i class="card-nav glyphicon @if(forward) { glyphicon-forward } else { glyphicon-backward }"></i></a>
}
@next(i: Int) = {
	@move(i, i + 1, true)
}
@prev(i: Int) = {
	@move(i, i - 1, false)
}

@if(debug) {
    <h2>@answer.queryEntity</h2>
}


@for((part, i) <- answer.parts.zipWithIndex) {
<div id="E@i" style="@if(i > 0) { display: none }">
	<!-- title -->
	<h2>
		@if(i > 0) {@prev(i)}
		@{Html(answer.parts.map { curPart =>
			titleLink(curPart, curPart == part)
		}.mkString(", "))}
		@if(answer.parts.size > i+1){@next(i)}
	</h2>
	
	
  @defining(part.entity) { entityOpt =>
    @entityOpt match {
    
      case Some(entity) => {
        <!-- Types -->
        <h3 class='types-title'>Types:</h3>
        @defining(part.types.take(8).grouped(2)) { typeGroups =>
          @for(types <- typeGroups) {
            <div class="row">
            @for(t <- types) {
              <div class="col-md-5">
                <a href='@{t.url}' title='@{t.source} type: @{t.name}'>@{t.name}</a> <span style='color: #888'>(@{t.source})</span>
              </div>
            }
            </div>
          }
        }
	  }
	  
      case None => {
        @if(part.types.size > 0) {
          <!-- Inferred Types (no linked entity) -->
          <h3 class='types-title'>Inferred Types:</h3>
          <ul class='types-body'>
          @part.types.take(8).map{ t =>
            <li><a href='@{t.url}' title='@{t.source} type: @{t.name}'>@{t.name}</a> <span style='color: #888'>(@{t.source})</span></li>
          }
          </ul>
        }
      }
    }
  }

	<!-- if there are synonyms, display them -->
	@if(part.otherSynonyms.size > 0) {
		<h3 class='syns-title'>Extracted Synonyms:</h3>
		<ul class='syns-body'>
			@part.otherSynonyms.map { synonym =>
			<li>@synonym</li>
			}
		</ul>
	}
	<h3 class='sentences-title'>Extracted from these sources:</h3>

<!-- display sentences -->
@helper.sentences(answer.limitSentences(maxSentenceCount), debug, index)

@if(answer.resultsCount > maxSentenceCount) {
    <p style="text-align: center; margin-top: 1em"><a href="@{routes.Application.sentences(query.question, query.parserName, answer.title, debug)}">Show all sentences (@{answer.resultsCount - maxSentenceCount} more)</a></p>
}
	
</div>
}


