@(query: Query, answer: Answer, index: Int, maxSentenceCount: Int, debug: Boolean)

@import models.TypeFilters._
@import models.NellType.fbToNellType

@titleLink(part: models.AnswerPart, large: Boolean) = {
	@if(part.comesFromRel) {
		@part.text
	} else {
		<a href='@routes.Application.search("("+part.text+",?,?)", "formal","all",0,debug)' class="@if(large) {entity-link-focused} else {entity-link}">@part.text</a>
	}
}

@move(curPartIndex: Int, nextPartIndex: Int, forward: Boolean) = {
	<a href="#@if(forward) { forward } else { back }" onclick="$('#L@index>#E@curPartIndex').hide(); $('#L@index>#E@nextPartIndex').show();"><i class="card-nav @if(forward) { icon-forward } else { icon-backward }"></i></a>
}
@next(i: Int) = {
	@move(i, i + 1, true)
}
@prev(i: Int) = {
	@move(i, i - 1, false)
}

@if(debug) {
    <h2>@answer.queryEntity</h2>
}
@for((part, i) <- answer.parts.zipWithIndex) {
<div id="E@i" style="@if(i > 0) { display: none }">
	<!-- title -->
	<h2>
		@if(i > 0) {@prev(i)}
		@{Html(answer.parts.map { curPart =>
			titleLink(curPart, curPart == part)
		}.mkString(", "))}
		@if(answer.parts.size > i+1){@next(i)}
	</h2>
	
	<!-- if there is an entity, display its FreeBase URI -->
	@defining(part.entity) { entityOpt =>
		@entityOpt match{
			case Some(entity) => {
				<!-- FreeBase URI -->
				<h3 class='uri-title'>URI:</h3>
				<ul class='uri-body'>
					<li><a href='http://www.freebase.com/view/m/@entity.fbid'>http://www.freebase.com/view/m/@entity.fbid</a></li>
				</ul>

				<!-- Types -->
				<h3 class='types-title'>Types:</h3>
				<ul class='types-body'>
					@part.types.toSeq.sortBy(-_.weight).map{ fbType =>
					<li>@{Html(fbToNellType.get(fbType).map( nellType =>
						"<a href='http://rtw.ml.cmu.edu/rtw/kbbrowser/pred:"+nellType.id+"' title='Nell type: "+nellType.name+"'>"+nellType.name+"</a> <span style='color: #888'>(Nell)</span>"
						).getOrElse(""))
						}</li>
					}
					@part.types.toSeq.sortBy(-_.weight).map{ fbType =>
					<li><a href='http://www.freebase.com/view@{fbType.name}' title='FreeBase type: @{fbType.name}'>@{fbType.name}</a> <span style='color: #888'>(FreeBase)</span></li>
					}
				</ul>
			}

			case None => {
				@if(part.types.size > 0) {
					<!-- Inferred Types (no linked entity) -->
					<h3 class='types-title'>Inferred Types:</h3>
					<ul class='types-body'>
					@part.types.toSeq.sortBy(-_.weight).map{ fbType =>
						<li>@{Html(fbToNellType.get(fbType).map( nellType =>
						"<a href='http://rtw.ml.cmu.edu/rtw/kbbrowser/pred:"+nellType.id+"' title='Nell type: "+nellType.name+"'>"+nellType.name+"</a> <span style='color: #888'>(Nell)</span>"
						).getOrElse(""))
						}</li>
					}
					@part.types.toSeq.sortBy(-_.weight).map{ fbType =>
						<li><a href='http://www.freebase.com/view@{fbType.name}' title='FreeBase type: @{fbType.name}'>@{fbType.name}</a> <span style='color: #888'>(FreeBase)</span></li>
					}
					</ul>
				}
			}
		}
	}

	<!-- if there are synonyms, display them -->
	@if(part.otherSynonyms.size > 0) {
		<h3 class='syns-title'>Extracted Synonyms:</h3>
		<ul class='syns-body'>
			@part.otherSynonyms.map { synonym =>
			<li>@synonym</li>
			}
		</ul>
	}
</div>
}

<!-- display sentences -->
<h3>Extracted from these sentences:</h3>
@helper.sentences(answer.copy(contents=answer.contents.take(maxSentenceCount)), debug)

@if(answer.contents.size > maxSentenceCount) {
    <p style="text-align: center; margin-top: 1em"><a href="@{routes.Application.sentences(query.question, query.parserName, answer.title, debug)}">Show all sentences (@{answer.contents.size - maxSentenceCount} more)</a></p>
}
