@(parts: Seq[AnswerPart], debug: Boolean)

@import models.TypeFilters._

@Html(parts.map(part=>

	part.entity match {
		// always display a card
		case Some(entity) => 
			<div 
				id={entity.fbid}
				class="title-entity"
				title={part.text + (if (debug) " / " + part.lemma else "")}
			>
				{if (debug) entity.toString else entity.name}
			</div>

		// display a card if there are predicted types
		case None if part.types.size > 0 =>
			 <div
				class="title-typed"
				title={part.text + (if (debug) " / " + part.lemma else "")}
			>
				{part.text}
			</div> 

		// display a card if there are synonyms or it's debug mode
		case None if part.otherSynonyms.size > 0 =>
			<div
				class="title-string"
				title={part.text + (if (debug) " / " + part.lemma else "")}
			>
				{part.text}
			</div>
		
		case None if debug =>
			<div
				class="title-string"
				title={part.text + (if (debug) " / " + part.lemma else "")}
			>
				{part.text}
			</div>
		
		case None =>
			<div class="title-string">
				{part.text}
			</div>
	}
).mkString(", "))