@(parts: Seq[AnswerPart], debug: Boolean)

@import models.TypeFilters._

@Html(parts.map(part=>

	part.entity match {
		// always display a card
		case Some(entity) => 
			<span 
				id={entity.fbid}
				class="title-entity"
				title={part.text + (if (debug) " / " + part.lemma else "")}
			>
				{if (debug) entity.toString else entity.name}
			</span>

		// display a card if there are predicted types
		case None if part.types.size > 0 =>
			 <span
				class="title-typed"
				title={part.text + (if (debug) " / " + part.lemma else "")}
			>
				{part.text}
			</span> 

		// display a card if there are synonyms or it's debug mode
		case None if part.otherSynonyms.size > 0 =>
			<span
				class="title-string"
				title={part.text + (if (debug) " / " + part.lemma else "")}
			>
				{part.text}
			</span>
		
		case None if debug =>
			<span
				class="title-string"
				title={part.text + (if (debug) " / " + part.lemma else "")}
			>
				{part.text}
			</span>
		
		case None =>
			<span class="title-string">
				{part.text}
			</span>
	}
).mkString(" "))