@(title: String, compact: Boolean)(content: Html)

@import helper.twitterBootstrap._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/suggest.min.css")">

        <script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/openie.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/suggest.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/spin.js")" type="text/javascript"></script>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24887884-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <div class="hidden-sm">
                    <h1>
                      @if(compact){
                      <a href="@routes.Application.index()"><img src="@routes.Assets.at("images/textrunner.jpg")" width="45" height="50")"></a>
                      } else {
                      <a href="@routes.Application.index()"><img src="@routes.Assets.at("images/textrunner.jpg")" width="90" height="100"></a>
                      }
                      <a href="@routes.Application.index()">Open Information Extraction</a>
                      @if(!compact) {
                      <a href="http://turing.cs.washington.edu/" class="pull-right"><img src="@routes.Assets.at("images/turing.png")" width="136" height="100"></a>
                      } else {
                      <a href="http://turing.cs.washington.edu/" class="pull-right"><img src="@routes.Assets.at("images/turing.png")" width="85" height="62"></a>
                      }
                    </h1>
                </div>
                <div class="visible-sm">
                    <h1><a href="@routes.Application.index()"><img src="@routes.Assets.at("images/textrunner.jpg")" width="45" height="50"></a> UW Open IE</h1>
                </div>
            </div>

            @content
        </div>
    </body>
</html>
