@(title: String, compact: Boolean)(content: Html)

@import helper.twitterBootstrap._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-tooltip.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-popover.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-tab.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-dropdown.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-button.js")" type="text/javascript"></script>
    </head>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24887884-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <body>
        <div class="container">
            <div class="page-header">
                <div class="hidden-phone">
                    <h1>
                      <a href="@routes.Application.index"><img src="@if(compact) { @routes.Assets.at("images/textrunner-small.jpg") } else { @routes.Assets.at("images/textrunner.jpg") }"></a>
                      Open Information Extraction
                      @if(!compact) {
                      <a href="http://turing.cs.washington.edu/" class="pull-right"><img src="@routes.Assets.at("images/turing.png")"></a>
                      }
                    </h1>
                </div>
                <div class="visible-phone">
                    <h1><a href="@routes.Application.index"><img src="@routes.Assets.at("images/textrunner-small.jpg")"></a> UW OpenIE</h1>
                </div>
            </div>

            @content
        </div>
    </body>
</html>
