@(group: Answer, debug: Boolean)

@import helper.twitterBootstrap._

@for((rel, cs) <- group.contentsByRelation) {
	<dl class="dl-horizontal">
	<dt>@rel</dt>
	@for(c <- cs) {
	<dd><div class="sentence"><a class="sent" href="@c.url">
		@if(!debug) {
			@for((string, i) <- c.strings.zipWithIndex) {
				@if(c.intervals.exists(_.start==i)) {<b>}
				@if(c.intervals.exists(_.end==i)) {</b>}
				@string 
			}
			
			@if(c.intervals.exists(_.end==c.strings.size)) {</b>}
			<span style="color: #888">@{
				if (c.corpus == "cw") {" (via ClueWeb09)"}
				else if (c.corpus == "g1b") {" (via Google)"}
				else if (c.corpus == "wiki") {" (via Wikipedia)"}
				else if (c.corpus == "news") {" (via News)"}
				else {" (via %s)" format c.corpus}
			}</span>
		} else {
			@{"%1.2f" format c.confidence} from @c.url:<br/>
			@for((string, i) <- c.strings.zipWithIndex) {
				@if(c.intervals.exists(_.end==i)) {|} @if(c.intervals.exists(_.start==i)) {|} @if(c.intervals.exists(_.start==i)) {<b>} @if(c.intervals.exists(_.end==i)) {</b>}
			@string 
			}
		}
	</a>
		<div class="hover-source">
			Extracted from the
			@{c.corpus match {
				case "cw" => { "ClueWeb09" }
				case "g1b" => { "Google" }
				case "wiki" => {"Wikipedia"}
				case "news" => {"News"}
				case _ => { c.corpus }
				}
			}
			 corpus. Source: @c.url
			<div class="arrow"></div>
		</div>
	</div>
	}
</dd>
}
