@(group: Answer, maxSentenceCount: Int, debug: Boolean, index: Int)

@import helper.twitterBootstrap._
@import models.OpenIETriple
<div class="panel-group" id="accordion-@index">
@for((d, ppindex) <- group.dgroups.zipWithIndex) {
  <div class="panel panel-default">
  <a class="list-group-item accordion-toggle" data-toggle="collapse" href="#collapse-@index-@ppindex">
  
  
  <div class="panel-title">
    <div class="paraphrase">
    <h3 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-bottom:0px;">
    @{d.resultsCount + " results from "}
    @{d.ppsDeduped.take(1).map(pp=> "\"%s\"".format(pp.target)).mkString(", ") }
    </h3>
    @if(d.ppsDeduped.size > 1) {
      <div class="hover-source">similar paraphrases: @{d.ppsDeduped.drop(1).map(pp=> "\"%s\"".format(pp.target)).mkString(", ") }</div>
    }
    </div>
    <div class="text-muted" style="font-size:14px">Interpretation: @{d.interpretation}</div> 
  </div>
  
  </a>
  <div id="collapse-@index-@ppindex" class="panel-collapse collapse @{if (ppindex==0) {"in"} else {""}}">
  <li class="list-group-item">
  
  @for(((query, triples), i) <- d.queryTriples.zipWithIndex) {
    <ul class="list-group" style="margin-bottom:10px;">
    <li class="list-group-item panel-title" style="border:0px;">
    <h4>@{"Evidence for: " + query}</h4>
    </li>
    
    <ol>
    @for(r <- triples.take(maxSentenceCount)) {
      
      <li class="sentence">
      @if(!r.isInstanceOf[OpenIETriple]) {
        
        <a class="sent" href="@r.url">
        (<b>@r.arg1</b>@{", " + r.rel + ", "}<b>@r.arg2</b>)
        <span style="color: #888">  via @{r.source}</span>
        </a>
      } else {
        @defining(r.asInstanceOf[OpenIETriple]) { t =>

          <a class="sent" href="@t.url">
          @for((string, i) <- t.sentenceStrings.zipWithIndex) {
            @if(t.boldIntervals.exists(_.start==i)) {<b>}
            @if(t.boldIntervals.exists(_.end==i)) {</b>}
            @string.replaceAll("\t", " ").replaceAll("[\\p{C}]","") 
          }
          @if(t.boldIntervals.exists(_.end==t.sentenceStrings.size)) {</b>}
          <span style="color: #888">@{
            if (t.corpus == "cw") {" (via ClueWeb12)"}
            else if (t.corpus == "g1b") {" (via Google)"}
            else if (t.corpus == "wiki") {" (via Wikipedia)"}
            else if (t.corpus == "news") {" (via News)"}
            else {" (via %s)" format t.corpus}
          }</span>
          </a>
          <div class="hover-source">
          Source: @{t.url}<br/>
          Extracted using Open IE 4.0 over the 
          @{t.corpus match {
              case "cw" => { "ClueWeb12" }
              case "g1b" => { "Google" }
              case "wiki" => {"Wikipedia"}
              case "news" => {"News"}
              case _ => { t.corpus }
            }  
          } <!--- t.corpus --->
          corpus. 
          </div> <!--- hover source --->
          
        } <!-- defining -->
      } <!-- if not open ie, else, ... -->
      </li> <!--- sentence --->
    }  <!--- triple ---> 
    @if(triples.size > maxSentenceCount) {
      <div align="center" class="text-muted" style="padding:10px 15px 5px 10px;">(@{triples.size - maxSentenceCount} more)</div>
    }
    
    
    </ol>
    @if(i != (d.queryTriples.size - 1)) { <hr style="margin-bottom:5px;"/> }
    </ul>
  }  <!-- query --->
    
  </li>  
  </div>
  </div>
}  <!-- paraphrases --->
</div>