.hid { display: none }
.title-entity { font-weight: bold }
.title-typed { font-style: italic }
.answer { font-size: large }
.popover-image {
  float: left;
  border: 1px solid;
  margin: 5px;
}
.close-tab {
  float: right
}

.uri-title {
  font-weight: bold;
}
.uri-body {
  font-weight: normal;
}

.types-title {
  font-weight: bold;
}
.types-body {
  font-weight: normal;
}

.syns-title {
  font-weight: bold;
}
.syns-body {
  font-weight: normal;
}
#stats {
  font-size: larger;
}

.popover-image {
  margin: .5em 1em 0 0;
}

.entity-desc p {
  margin: 0 3em 1em 0;
}

blockquote.uri-body, blockquote.types-body, blockquote.syns-body {
  border: none;
}

.dl-horizontal {
  margin-top: 0;
  padding-bottom: 3em;
}

.dl-horizontal .sentence {
  display: inline-block;
  position: relative;
}

.dl-horizontal .sentence:hover {
  background: #ddd;
}

.dl-horizontal .sentence > .hover-source {
  float: left;
  position: absolute;
  top: 100%;
  margin-top: 5px;
  padding: 0 5px;
  background: white;
  border: 1px solid #333;
  display: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 1;
}

.dl-horizontal .hover-source > .arrow {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 15px;
  border-bottom: 5px solid #333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  z-index: 1;
}

.dl-horizontal .sentence:hover > .hover-source, .dl-horizontal .sentence:hover > .arrow {
  display: block;
}

.freebase-attribution {
  float: right;
  margin: 1em 0 2em 0;
}

.freebase-attribution > div {
  display: inline-block;
  font-size: 0.75em;
}

.freebase-attribution > div p {
  margin: 1.2em 0 -1em 0;
  padding: 0;
  line-height: 1.2em;
}

.page-header a {
  color: #333;
}

.page-header a:link {
  color: #333;
}

.page-header a:visited {
  color: #333;
}

.page-header a:hover {
  color: #08c;
}

.page-header a:active {
  color: #08c;
}

#stats {
  margin: 1em 0;
}

.tab-content blockquote {
  margin: 0;
}

.tab-content h3 {
  margin-top: 0.5em;
}

#results-content {
}

#tab-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
}

.btn {
  position: relative;
}

.btn #search-spinner {
  position: absolute;
  height: 27px;
  width: 27px;
  top: 0;
  left: 100%;
  margin-left: 5px;
}

.search-arg {
  display: inline-block;
  margin: auto 1em;
}

#search-button {
  margin-bottom: 0.5em;
}