@(searchForm: Form[Query], query: Query, message: Option[String], answers: AnswerSet, totalAnswerCount: Int, totalSentenceCount: Int, isResults : Boolean)(content: Html)

@import helper.twitterBootstrap._

@helper.main("Open Information Extraction", compact=true) {
  @helper.form(action = routes.Application.submit(false), 'class -> "well form-inline hidden-phone") {
    <div class="results-form">
      <label for="arg1">Argument 1:</label>
      <span class="input">
          <input type="text" id="arg1" name="arg1" value="@query.arg1" >
          <span class="help-inline"></span>
      </span>
    </div>

    <div class="results-form">
      <label for="rel">Relation:</label>
      <span class="input">
          <input type="text" id="rel" name="rel" value="@query.rel" >
          <span class="help-inline"></span>
      </span>
    </div>

    <div class="results-form">
      <label for="arg2">Argument 2:</label>
      <span class="input">
          <input type="text" id="arg2" name="arg2" value="@query.arg2" >
          <span class="help-inline"></span>
      </span>
    </div>

    <div class="results-form">
      <span class="input">
          <select id="corpora" name="corpora">
              <option value="">All</option>
            @for(Corpus(displayName, indexName) <- Corpus.corpora) {
              <option value="@indexName" @if(query.corpora.map(_.corpora) == Some(indexName)){SELECTED}>@displayName</option>
            }
          </select>
          <span class="help-inline"></span>
      </span>
    </div>

    <button class="btn"><i class="icon-search"></i> Search</button>
  }

    <div id="stats"><b>@totalAnswerCount answers</b> from <b>@totalSentenceCount sentences</b>@message.map(" ("+_+")").getOrElse("")</div>
    
  <!-- Display the query card if its the results frame for results page -->
  @if(isResults){    
    <div class="row">
      <!-- if the query is a linked entity, insert a knowledge card about it -->
      @{answers.queryEntities.headOption filter {case(e, n) => n > 2} match {
          case Some((fbEntity,count)) => Html("<div id='query-card' class='offset1 span10' data-attr='"+fbEntity.fbid+"'><h3>"+fbEntity.name+"</h3><div id='query-card-spinner'></div></div>")
          case None => ""
        }
      }
    </div>
  }
      
  <div id="results-content">
      @content
  </div>

  <!-- freebase attr footer -->
  <div class="freebase-attribution">
    <img alt="Freebase CC-BY" height="23px" style="border: 0;" width="61px" src="http://www.freebase.com/policies/freebase-cc-by-61x23.png"/>
  
    <div>
      <p>Source: <a href="http://www.freebase.com/">Freebase</a>, licensed under <a href="http://creativecommons.org/licenses/by/2.5/">CC-BY</a></p>
      <p>Other content from <a href="http://en.wikipedia.org/">Wikipedia</a>, licensed under <a href="http://creativecommons.org/licenses/by-sa/2.5/">CC BY-SA</a></p>
    </div>
  </div>
  <!-- /freebase attr footer --> 

  <script type="text/javascript">
    function tabto(dest) {
      $.ajax(dest).done(function(html) { 
        $('#results-content').html(html);
      })
    }
  </script>
}
