@(searchForm: Form[Query], query: Query, message: Option[String], answers: AnswerSet, totalAnswerCount: Int, totalSentenceCount: Int)(content: Html)

@import helper.twitterBootstrap._
@import edu.washington.cs.knowitall.browser.extraction.ExtractionGroup

@helper.main("UW Open Information Extraction", compact=true) {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

  @helper.form(action = routes.Application.submit, 'class -> "well form-inline") {
      <label for="arg1">Argument 1:</label>
      <span class="input">
          <input type="text" id="arg1" name="arg1" value="@query.arg1" >
          <span class="help-inline"></span>
      </span>
      <label for="rel">Relation:</label>
      <span class="input">
          <input type="text" id="rel" name="rel" value="@query.rel" >
          <span class="help-inline"></span>
      </span>
      <label for="arg2">Argument 2:</label>
      <span class="input">
          <input type="text" id="arg2" name="arg2" value="@query.arg2" >
          <span class="help-inline"></span>
      </span>
      <button class="btn primary"><i class="icon-search"></i> Search</button>
  }

  <div id="stats"><b>@totalAnswerCount answers</b>@message.map(" ("+_+")").getOrElse("") from <b>@totalSentenceCount sentences</b></div>

  <div id="results-content">
  @content
  </div>

  <script type="text/javascript">
    function tabto(dest) {
      $.ajax(dest).done(function(html) { 
        $('#results-content').html(html);
      })
    }
  </script>
}
